<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrego Producto</title>
</head>
<body>
    
    <form action="/save" method="post">
        <label for="">Añadir Producto</label>
        <br>
        <input type="text" name="producto_nombre" placeholder="Agregue el producto" required>
        <br>
        <input type="text" name="producto_precio" placeholder="Agregue el precio" required>
        <br>
        <button>Añadir</button>
    </form>


</body>
</html>